:root {
    --fonte-principal: "Lexend";
    --azul: rgb(8, 38, 94);
}


/* Estilos gerais */
body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    background-color: #2f59da;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    background-color: var(--azul);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Conteúdo principal */
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
}

.quote-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
}

.quote {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.author {
    font-size: 18px;
    color: #888;
}

#new-quote {
    margin-top: 20px;
    background-color: #0c829f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#new-quote:hover {
    background-color: #555;
}

/* Rodapé */
footer {
    background-color: var(--azul);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.texto_animado {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

h1 {
    font-weight: 700;
}

.botão {
    font-family: var(--fonte-principal);
}

.quote-image {
    max-width: 150px;
    margin-bottom: 20px;
    margin: 0 auto;
    border-radius: 5px;
}

.formulário-botão {
    margin-top: 20px;
    background-color: #0c829f;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
}

.formulário-botão2 {
    margin-top: 20px;
    background-color: #0c829f;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: inline-block;
}

.formulário-âncora {
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 1em;
}

.pontos_de_coleta {
    padding: 1.5em;
}

.close-button {
    font-size: 50px;
    padding: 12.5em;
}

/* Estilo para o container do seletor */
.select-group {
    margin-top: 20px;
    text-align: center;
}

.select-group label {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

.select-group select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #0c829f;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.select-group select:focus {
    outline: none;
    border-color: #555;
}

.redes-sociais {
    text-decoration: none;
    color: white;
}

/* Estilos para o vídeo dentro do modal */
.video-container {
    position: relative; /* Torna o contêiner do vídeo o ponto de referência para o título */
    margin-top: 20px; /* Espaço acima do vídeo */
    display: flex;
    justify-content: center; /* Centraliza o vídeo horizontalmente */
    align-items: center; /* Centraliza o vídeo verticalmente */
}

/* Título sobre o vídeo */
.video-container h2 {
    position: absolute; /* Posiciona o título sobre o vídeo */
    top: 0.1px; /* Distância do topo do contêiner */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para que o título fique centralizado */
    color: #fff; /* Cor do texto do título */
    font-size: 24px; /* Tamanho do texto do título */
    font-weight: bold; /* Deixa o texto em negrito */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto para destacar */
}

.video-container video {
    max-width: 100%; /* O vídeo se ajustará ao tamanho máximo da tela */
    height: auto; /* A altura será ajustada proporcionalmente */
    border-radius: 15px; /* Arredonda os cantos do vídeo */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Adiciona sombra para dar destaque */
    border: none; /* Remove a borda do vídeo */
}